   
.ListDoiKinh{
    

.navBg{
background-color: rgba(0, 0, 0, 0.6);
height: 150px;
    width: 100%;
    color: white;
    h1{
        padding-top: 30px;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
    }
}
header{
    .imgMau{
        position: relative;
        text-align: center;
    }
    .imgKinh{
        position: absolute;
    top: 39%;
        left: 43%;
        img{
            width: 70%;
        }
    }
    .titleKinh{
        position: absolute;
        bottom: 10%;
        left: 37%;
        background-color: rgba(253, 189, 143, 0.5);
        width: 26%;
        height: 250px;
        padding-left: 20px;
        padding-top: 10px;
        h2{
            padding-top: 10px;
            color: blue;
            font-weight: 600;
        }
        p{
            font-size: 20px;
            font-weight: 400;
        }
        span{
            font-size: 40px;
            font-weight: 500;
            color: rgba(255, 0, 0, 0.7);
        }
    }
}
footer{
    .footBg{
        background-color: rgba(255, 171, 171, 0.3) ;
        padding-top: 30px;
        h2{
            font-size: 40px;
            font-weight: 600;

        }
      .row{
        padding-left: 10rem;
        
      }
        img{
            width: 200%;
            margin-bottom: 2rem;
            border: 2px solid black;
        }
    }
}
}
